body{
    font-family: "Lucida Console", monospace;
    background-color: beige;
}

h1 {
    background-color: tan;
    text-align:center;
    border-style: groove;
}
h2{
    background-color:teal;
    text-align:center;
    border-style: solid;
}
h3{
    background-color: bisque;
    text-align: center;
    border-style: solid;
    border: 1px;
}

footer{
    margin-top: 20px;
    border-top: 10px;
    border-style: solid;
}


